<h1>Check it out</h1>
<h2>This is our code</h2>

<p>By: Josh and Taylor</p>
<ul>
	<% ['ruby', 'rails', 'html'].each do |code| %>
		<li>We read <%= code %> everyday</li>
	<% end %>	


</ul>



<% j= %w{oranges maker fruit}

 j << 'bananas', "apples", 'tigers' %>

